* {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   list-style: none;
   box-sizing: border-box; 
}

.v-sidebar {
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 8px;
    height: 44px;
    margin: 16px;
    border-radius: 8px;
    border: 1px solid #122037;
    background: #001529
}

.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    /* background: rgba(28, 17, 41, 0.88); */
}

.item-name {
    color: #1677ff;
}